

{% extends "dashboard/index.html" %}
<!---->
{% load static %}
<!---->
{% load humanize %}
{% block title %}Calificaciones{% endblock title %}
<!---->
{% block extra_css %}



<!-- third party css -->
<link
  href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-select-bs5/css//select.bootstrap5.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->

{% endblock extra_css %}
<!---->
{% block topbar %}
<!---->
<!---->
{% include "partials/topbar.html" with pagetitle="Control | Calificaciones" %}
<!---->
{% endblock topbar %}
<!---->
{% block content %}

<style>

  .borde{
    transition: box-shadow 0.5s ease-in-out;
  }

  .borde:hover{
    box-shadow: 5px 3px 3px rgb(177, 177, 177);
    border-radius: 10px;
  }

  .carta{
    transition: background-color 0.6s ease-in-out;
  }

  .carta:hover{
    background-color: rgb(113, 116, 116);
    color: white;
  }

  .card-text {
    /* Estilos originales aquí */
    transition: background-color 0.8s ease-in-out, border-radius 0.8s ease-in-out, color 0.8s ease-in-out,text-align 0.8s ease-in-out;
  }

  .card-text:hover{
    /*background-color: rgb(78, 81, 81);
    border-radius: 5px;
    color: white;*/
    text-align: center;
    
  }

</style>


<!--productos-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Tabla de equivalencia</h4>
                <p class="text-muted font-14 mb-3">
                    En esta sección se mostrar la clasificación de cada parametro para la calificación de los candidatos para credito personal. 
                </p>
                <div class="row d-flex">

                  <div class="col p-0 borde">
                    <div class="card border-light  m-1 " style="max-width: 18rem;">
                      <div class="card-header ">Score</div>
                      <div class="card-body">
                        <h5 class="card-title">Clasificación:</h5>
                        <p class="card-text">A1 = 10</p>
                        <p class="card-text">A2 = 8</p>
                        <p class="card-text">A3 = 6</p>
                        <p class="card-text">A4 = 4</p>
                        <p class="card-text">A5 = 2</p>
                      </div>
                    </div>
                  </div>
                  <div class="col p-0 borde">
                    <div class="card border-light  m-1 " style="max-width: 18rem;">
                      <div class="card-header ">Edad</div>
                      <div class="card-body">
                        <h5 class="card-title">Clasificación:</h5>
                        <p class="card-text">25 entre 50 = 10</p>
                        <p class="card-text">50 entre 60 = 8</p>
                        <p class="card-text">20 entre 25 = 6</p>
                        <p class="card-text">30 entre 40 = 4</p>
                        <p class="card-text">45 entre 55 = 2</p>
                      </div>
                    </div>
                  </div>
                  <div class="col p-0 borde">
                    <div class="card border-light  m-1 " style="max-width: 18rem;">
                      <div class="card-header ">Estado Civil</div>
                      <div class="card-body">
                        <h5 class="card-title">Clasificación:</h5>
                        <p class="card-text">Soltero = 10</p>
                        <p class="card-text">Casado = 8</p>
                        <p class="card-text">Divorciado = 6</p>
                        <p class="card-text">Union Libre = 4</p>
                        <p class="card-text">Otro = 2</p>
                      </div>
                    </div>
                  </div>
                  <div class="col p-0 borde ">
                    <div class="card border-light  m-1 " style="max-width: 18rem;">
                      <div class="card-header ">Empleo</div>
                      <div class="card-body">
                        <h5 class="card-title">Clasificación:</h5>
                        <p class="card-text">Base = 10</p>
                        <p class="card-text">Contrato = 8</p>
                        <p class="card-text">Medio Tiempo = 6</p>
                        <p class="card-text">Otro</p>
                        <p class="card-text">Otro</p>
                      </div>
                    </div>
                  </div>
                  <div class="col p-0 borde">
                    <div class="card border-light  m-1 " style="max-width: 18rem;">
                      <div class="card-header ">Salario</div>
                      <div class="card-body">
                        <h5 class="card-title">Clasificación:</h5>
                        <p class="card-text">Menor o igual 50% = 10</p>
                        <p class="card-text">Menor o igual 40% = 8</p>
                        <p class="card-text">Menor o igual 30% = 6</p>
                        <p class="card-text">Menor o igual 50% = 4</p>
                        <p class="card-text">Menor o igual 50% = 2</p>
                        
                      </div>
                    </div>
                  </div>

                  

                </div>
                
                <!--id="key-table"-->
                <table id="responsive-datatable" class="table dt-responsive nowrap table-hover d-none">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Score </th>                        
                        <th>Estado Civil</th>
                        <th>Empleo</th>
                        <th>Edad</th>
                        <th>Salario</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                      
                    <tr>
                      
                        
                      
                      <!--Soltero = 10-->
                      <td></td>
                      <td>A1 = 10</td>
                      <td>
                        
                      </td>
                      <td>Base = 10</td>
                      <td>25 a 50 = 10</td>
                      <td>40% a 50% = 10</td>
                      
                    </tr>
                    
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div> <!-- end row -->
<!--productos-->


<!--plazo-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Parametros</h4>
                <p class="text-muted font-14 mb-3">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut corrupti incidunt expedita ea! Aut amet explicabo nisi suscipit repellendus, perferendis culpa
                </p>
                <div class="d-flex justify-content-end mb-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm border"         data-bs-toggle="modal" data-bs-target="#plazoModal" 
                    >
                    <!--url 'dashboard_app:nuevo_plazo'-->
                    Nuevo
                    </button>
                </div>
                
                <table id="datatable" class="table dt-responsive nowrap table-hover">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Buró de Crédito</th>
                      <th>Edad</th>
                      <th>Estado Civil</th>
                      <th>Empleo</th>
                      <th>Sueldo</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>

                     {% for item in cliente %}
                    <tr>
                    
                      <!--Soltero = 10-->
                      <td>{{item.user}}</td>
                      <td>10 (no dinamico)</td>
                      <td> 
                        {{item.valor_numerico_edad}}
                      </td>
                      <td>
                        {{item.valor_numerico_estado_civil}}
                      </td>
                      <td>
                        {{item.valor_numerico_empleo}}
                      </td>
                      <td>10(no dinamico)</td>
                      <td> {{item.valor_numerico_total}}</td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div> <!-- end row -->
<!--plazo-->

<!--grupales-->
<div class="row d-none">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Calificaciones</h4>
                <p class="text-muted font-14 mb-3">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut corrupti incidunt expedita ea! Aut amet explicabo nisi suscipit repellendus, perferendis culpa
                </p>
                <div class="d-flex justify-content-end mb-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm border"         data-bs-toggle="modal" data-bs-target="#grupalModal" 
                    >
                    <!--url 'dashboard_app:nuevo_plazo'-->
                    Nuevo
                    </button>
                </div>
                
                <table id="key-table" class="table dt-responsive nowrap table-hover">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Calificación</th>
                      <th>Código de validación</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    
                  <tr>
                    {% for usuario in usuarios %}
                    <td>{{ usuario.user }}</td>
                    {% endfor %}
                    <td>{{ suma_total }}</td>
                    <td></td>
                    
                  </tr>

                  

                    
                  </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div> <!-- end row -->
<!--grupales-->



{% include "partials/footer.html" %}
<!---->
{% endblock content %}
<!---->
{% block extra_js %}

<script>




</script>

<!-- third party js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>


<!---->


{% endblock extra_js %}
