<!-- Segundo HTML: confirmados.html -->

{% extends "dashboard/index.html" %}
{% load static %}

{% block title %}Bandeja|Confirmados{% endblock title %}

{% block extra_css %}
<!-- Aquí puedes cargar cualquier CSS adicional que necesites -->
{% endblock extra_css %}

{% block topbar %}
{% include "partials/topbar.html" with pagetitle="Buro de crédito" %}
{% endblock topbar %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <img src="{% static 'images/landing/IMAGEN-BURO-DE-CREDITO.png' %}" width="10%" alt="">
                    <img src="{% static 'images/landing/score.png' %}" width="20%" alt="">
                </div>
                
                
                <h4 class="mt-3 header-title">
                    ¿QUÉ ES	MI	SCORE?
                </h4>

                <p>
                    “Tu	situación	crediticia	en	un	solo	número”
                    Mi	 Score	 es	 el	 instrumento	 óptimo	 que	 te	 permite	 conocer	 la	 puntuación	 de	 tu	
                    comportamiento	 crediticio. Dicha	 puntuación	 es	 una	 calificación	 de	 crédito,	 score	 o	
                    valoración	numérica	que	indica	el	buen	manejo	de	las	obligaciones	de	crédito	contenidas	
                    en	tu	expediente.
                </p>

                <h4 class="mt-3 header-title">
                    ¿CÓMO	SE	MUESTRA MI	SCORE EN	EL	REPORTE	DE	CRÉDITO	ESPECIAL?
                </h4>

                <p>
                    El	score	se	presenta	como	un	número	positivo	de	tres	posiciones,	que	va	del	400	al	800 y	
                    el	 cual	 va	 acompañado	 de	 hasta	 tres	 códigos	 de	 razón,	 cuyo	 propósito	 es	 exponer	 los	
                    elementos	 principales	 que	 sustentan	 el	 valor	 de	 Score	 obtenido y	 las	 recomendaciones
                    para	que	tu	puntaje	se	incremente.
                </p>

                <h4 class="mt-3 header-title">
                    ¿QUÉ	INFORMACIÓN	CONSIDERA MI	SCORE PARA	CALCULAR	EL	PUNTAJE?
                </h4>

                <p>
                    El	cálculo	de	Mi	Score	considera	la	información	presente	en	tu	reporte de	crédito	relativa	
                    a	los	créditos	que	has	tenido,	cómo	los	has	utilizado	y	pagado,	así	como	las	consultas	que	se	hacen	 a	tu	reporte.	
                </p>
                
                <p>
                    A	continuación	se	presentan las exclusiones que podrán aparecer en tu	Reporte	de	Crédito	:
                </p>

                
                


                
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                    <!-- <h4 class="mt-0 header-title">Cálculo Score:</h4> -->
                

                <table id="tablaConfirmados" class="table dt-responsive nowrap table-hover">
                    <thead>
                        <tr>
                            <th>Exclusion</th>
                            <th>Descripción</th>
                            
                            
                            <!-- Otros encabezados si es necesario -->
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>-1</td>
                            <td>Consumidor	difunto</td>
                            
                        </tr>

                        <tr >
                            <td>-5</td>
                            <td>

                                Reporte	 de	 crédito	 en	 donde	 todas	 las	 cuentas	 están	 actualmente cerradas	 y	 por	 lo	 menos	 una	 cuenta tiene 90	 días	 o	 más	 de	morosidad.	- MOP>=04		

                            </td>

                        </tr>

                        <tr>
                            
                            <td>-6</td>
                            <td>
                                
                                Reporte	de	crédito	en	donde todos	los	créditos han	sido	abiertos	en	los	últimos	6	meses	y	por	lo	menos	una	cuenta tiene	60	días	o	más	de morosidad. – MOP>=03	

                            </td>
                            
                        </tr>

                        <tr>
                            
                            <td>-7</td>
                            <td>
                                Reporte	de	crédito	en	donde todos	los	créditos han	sido	abiertos	en los	últimos	6	meses	y	por	lo	menos	una	cuenta tiene	30	días	o	más	de	morosidad.– MOP>=02
                            </td>
                            
                        </tr>

                        <tr>
                            
                            <td>-8</td>
                            <td>
                                Reporte	de	crédito	que	no	tiene	por	lo	menos	una	cuenta	actualizada	
                                en	 los	 últimos	 12	 meses	 o	 por	 lo	 menos	 una	 cuenta	 abierta	 en	 los últimos	6	meses.	(“Criterios	Mínimos	de	Calificación”	)
                            </td>
                            
                        </tr>

                        <tr>
                            
                            <td>-9</td>
                            <td>Reporte	de	crédito	no	contiene cuentas	para	calcular	Mi	Score</td>
                            
                        </tr>
                        
                        
                            
                        <!-- Aquí se mostrarán los elementos confirmados -->
                    </tbody>
                </table>
     
            </div>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}

{% endblock content %}

{% block extra_js %}
<!-- Aquí puedes cargar cualquier JS adicional que necesites -->
{% endblock extra_js %}
