{% extends "partials/layout-vertical.html" %}
<!---->
{% load static %}
<!---->
{% block title %}Dashboard{% endblock title %}
<!---->
{% block extra_css %}
<style>
  .custom-card {
    border-top-left-radius: 50% !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 50% !important;
  }
</style>

<!---->
{% endblock extra_css %}
<!---->
{% block topbar %}
<!---->
<!---->
{%include "partials/topbar.html" with pagetitle="YAAB Servicios Financieros"%}
<!---->
{% endblock topbar %}
<!---->
{% block content %}

<style>
  .number-range {
    position: relative;
    display: block;
    font-size: 20px;
    color: #d2ab4b;
    font-weight: 400;
  }
  .custom-card {
    width: 40rem;
    /*border-radius: 50px !important;*/
    border-radius: 5% 20% 5% 20% !important;
  }
  input-gral {
    border: none;
    border-bottom: 2px solid white; /* Contorno inferior blanco */
    background-color: #f5f5f5; /* Fondo gris claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra debajo */
    padding: 8px;
    margin-bottom: 15px;
    outline: none; /* Quita el contorno al enfocar */
  }

  .input-range {
    width: 400px;
    height: 40px;
    -webkit-appearance: none;
    background: #343a40;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }

  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 70px;

    background: #d2ab4b;
    cursor: pointer;
    border: 0px solid #343a40;
    box-shadow: -407px 0 0 400px #d2ab4b;
  }



  /*   ********estilos simulador *******/


    .card-simulador {
        width: 100%;
        border: 1px solid #ddd; /* Borde delgada */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        background-color: #333;
    }
        
    .color-titulo{
        color: #dfbb2f;
    }

    .number-range-prestamo {
        position: relative;
        display: block;
        font-size: 20px;
        color: #d2ab4b;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
    }

     .input-range-container {
        position: relative;
        width: 100%;
    }
    
    .input-range {
        width: 400px;
        height: 40px;
        -webkit-appearance: none;
        background: #343a40;
        outline: none;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
        position: relative;
        z-index: 2;
        
        
    }
    
    .input-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 70px;
        background: #d2ab4b;
        cursor: pointer;
        border: 0px solid #343a40;
        box-shadow: -407px 0 0 400px #d2ab4b;
        z-index: 2;
    }
    
    hr{
        margin: 0;
        padding: 0;
    }

    .color-orange{
        color: #d2ab4b;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .boton{
        background-color: #333;
        border: #ddd 1px;
        color: #cecbcb;
        font-size: 15px;
    }
    .boton:hover{
        background-color: #ddd;
    }
    .text-description{
      color: #dfbb2f;
    }

    /*   ********fin estilos simulador *******/

    .select-style{
      
      background: #333333;
      width:50%;
      color:white;
      padding: 1px;
    }

    .select-style option:hover {
      background-color: #10151b !important; /* Cambia este color al que desees */
      color: rgb(184, 21, 21); /* Cambia este color al que desees */
    }

    .fondo-boton{
      background-color: #343a40;
    }
</style>

<div class="row mb-4">
  <div class="col">
    <div class="card mr-5" style="width: 20rem">
      <!-- <img
          src="user.imagen_perfil.url"
          style="width: 50%"
          class="card-img-top"
          alt="..."
        /> -->
      <div class="card-body rounded" style="background-color: #343a40">
        <h5 class="card-title" style="color: #d2ab4b">
          {{user.first_name | upper}} {{user.last_name | upper}}
        </h5>
        <p class="card-text text-white">Correo electrónico : {{user.email}}</p>
        <p class="card-text text-white">Teléfono celular : {{user.celular}}</p>
        <!-- <p class="card-text">CURP : {{user.curp}}</p> -->
        <p class="card-text text-white">RFC : {{user.rfc}}</p>
        <p class="card-text text-white">
          Fecha de nacimiento : {{user.fecha_nac}}
        </p>

        <!-- <p class="card-text">
            INE: <a href="{{user.documento.url}}" target="_blank">Descargar</a>
          </p> -->

        <button
          type="button"
          class="btn btn-primary d-none"
          data-toggle="modal"
          data-target=".bs-example-modal-lg"
        >
          migrar
        </button>
        <button onclick="abrirModalEdicion()" class="btn btn-primary d-none">
          <!--url 'panel_app:actualizar_usuarios' pk=user.pk-->
          Editar
        </button>
      </div>
    </div>
  </div>


    <div class="col">
    <div class="card-simulador ">
        <div class="card-body fondo-boton rounded">          
            <h1 class="color-titulo">Elige tu Prestamo </h1>         
            <!-- action=" url 'dashboard_app:index' " -->
           <form method="post"  class="" action="{% url 'dashboard_app:index' %}">
            {% csrf_token %}  
            <div class="mb-2 text-white">          
              {{ form.nombre_prestamo.label }}
            </div> 
            <div class="">          
              {{ form.nombre_prestamo }}
            </div> 
            <div class="d-none">          
              {{ form.usuario_user }}
            </div> 
            <br>         
            <div >
              <p id="nombre_producto"></p>
            </div>
            <button class="btn btn-outline-light btn-sml" type="submit">Solictar</button>
          </form>

        </div>

    </div>
  </div>

  

  <div class="col d-none">
    <div class="card-body custom-card " style="background-color: #343a40">
      <h3 style="color: #d2ab4b">Simulador de Crédito</h3>
      <!-- url 'user_app:crear_simulador' user_id=usuario_actual.id -->
      <!-- action=" url 'dashboard_app:crear_simulador' user_id=pk " -->
      <form method="post" id="simulator" class="d-none"  >
        {% csrf_token %}
        <div class="pb-3 text-white">
          {{form.tipo_credito.label}}
          <br />
          {{form.tipo_credito}}
        </div>

        <div class="pb-3">
          <!--color: #999;-->
          <span id="rangeValue" class="number-range"
            >0
            <span class="fs-6"
              >*deslizate hacia tu dercha o izquierda para definir tu
              cantidad</span
            >
          </span>
          <!-- <input class="input-range" 
            type="range" name="" value="0" min="0" max="1000" onchange="rangeSlide(this.value)"
            onmousemove="rangeSlide(this.value)"> -->

          {{form.amount}}
        </div>
        <div class="pb-3 text-white">
          {{form.plazo_nombre.label}}
          <br />
          {{form.plazo_nombre}}
        </div>
        <div class="pb-3 d-none">
          {{form.interest_rate.label}}{{form.interest_rate}}
          {{ form.interest_moratorio.label }}
          {{ form.interest_moratorio }}
        </div>
        <span id="rangeValueTerm" class="number-range"
          >0
          <span class="fs-6"
            >*deslizate hacia tu dercha o izquierda para definir tu plazo</span
          >
        </span>
        <div class="pb-3">{{form.term}}</div>

        <button type="submit" class="btn btn-outline-light btn-sm rounded-pill">
          Calcular
        </button>
      </form>

      <div id="result-container " class="mt-3 mb-3">
        <span id="monthly-payment" class="h3 text-white"></span>
        <br />
        <div id="mostrar_boton" class="mt-3" style="color: #d2ab4b">
          <div class="d-grid gap-2">
            <p class="text-center">
              Un préstamo confiable es nuestra prioridad
            </p>
            <button
              type="button"
              class="btn btn-outline-light btn-sm w-25 mx-auto rounded-pill"
              data-bs-toggle="modal"
              data-bs-target="#completarRegistroUsuario"
              onclick="registroModalUser('{% url 'dashboard_app:editar_usuario' pk=user.pk %}')"
            >
              <!--url 'panel_app:editar_usuario' pk=user.pk-->
              Solicitar Crédito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="col"></div>
  <div class="row">
    <div class="col d-none">
      <a
        id="pdf_id"
        href="{% url 'dashboard_app:pdf_documento'  %}"
        target="_blank"
        >PDF</a
      >
    </div>
    <div class="col d-none">
      <form action="{% url 'dashboard_app:mifiel' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Crear Mifiel" />
      </form>
    </div>
  </div>
</div>

<!--completar registro-->
<div
  class="modal fade"
  id="completarRegistroUsuario"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg"></div>
</div>
<!--completar registro-->

<button
    type="button"
    class="btn btn-sm mx-auto rounded-pill fondo-boton text-white"
    style="width: 15%;"
    data-bs-toggle="modal"
    data-bs-target="#completarRegistroUsuario"
    onclick="registroModalUser('{% url 'dashboard_app:editar_usuario' pk=user.pk %}')"
  >
    <!--url 'panel_app:editar_usuario' pk=user.pk-->
    Solicitar Crédito
  </button>

{% endblock content %} {% block extra_js %}

<script>
  function rangeSlide(value) {
    document.getElementById("rangeValue").innerHTML = value;
  }

  function rangeSlideTerm(value) {
    document.getElementById("rangeValueTerm").innerHTML = value;
  }
</script>

<!-- knob plugin -->
<script src="{% static 'libs/jquery-knob/jquery.knob.min.js' %}"></script>


<!--Morris Chart-->
<script src="{% static 'libs/morris.js06/morris.min.js' %}"></script>
<script src="{% static 'libs/raphael/raphael.min.js' %}"></script>

<!-- Dashboar init js-->
<script src="{% static 'js/pages/dashboard.init.js' %}"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad"></script>


<script>

  
  
    $(document).ready(function () {
      var nombreProductoField = $('#id_nombre_prestamo');
      var nombreProductoDisplay = $('#nombre_producto');

      // Oculta el campo de nombre_producto al cargar la página
      nombreProductoDisplay.hide();

      // Maneja el evento de cambio en el campo de nombre_prestamo
      nombreProductoField.change(function () {
        var selectedValue = $(this).val();
        if (selectedValue) {
          // Realiza una petición AJAX para obtener el nombre_producto
          $.ajax({
            url: 'dashboard/get_nombre_producto/' + selectedValue + '/',  // Reemplaza con la URL correcta
            type: 'GET',
            success: function (data) {
              var nombreProducto = data.nombre_producto;
              var tipoPrestamo = data.tipo_prestamo;
              var plazo = data.plazo;
              var tipo_periodo = data.tipo_periodo;
              var interes_ordinario = data.interes_ordinario;
              var interes_moratorio = data.interes_moratorio;
              var pago_mensual = data.pago_mensual;

              var pagoMensualFormateado = Number(pago_mensual).toLocaleString('es-MX', {
                style: 'currency',
                currency: 'MXN'
              });


              console.log('soy data',data)
              nombreProductoDisplay.empty();
              var listaDatos = $('<ul style="list-style: none; display: flex;">');
              
              var columnaEtiquetas = $('<div style="flex: 1; text-align: left;">');
              columnaEtiquetas.append($('<li class="text-white" > ').text('Nombre del producto: '));
              columnaEtiquetas.append($('<li class="text-white" > ').text('Tipo crédito: '));
              columnaEtiquetas.append($('<li class="text-white" > ').text('Plazo: '));
              columnaEtiquetas.append($('<li class="text-white" > ').text('Interes ordinario: '));
              columnaEtiquetas.append($('<li class="text-white" > ').text('Interes moratorio: '));
              columnaEtiquetas.append($('<li class="text-white" > ').text('Pago: '));
              
              listaDatos.append(columnaEtiquetas);

              var columnaValores = $('<div style="flex: 1; text-align: right;">');
              columnaValores.append($('<li class="color-titulo">').text(nombreProducto));
              columnaValores.append($('<li class="color-titulo">').text(tipoPrestamo));
              columnaValores.append($('<li class="color-titulo">').text(plazo + ' ' +  tipo_periodo));
              columnaValores.append($('<li class="color-titulo">').text(interes_ordinario));
              columnaValores.append($('<li class="color-titulo">').text(interes_moratorio));
              columnaValores.append($('<li class="color-titulo">').text(pagoMensualFormateado + ' mxn.'));
              listaDatos.append(columnaValores);

              nombreProductoDisplay.append(listaDatos);


              //nombreProductoDisplay.text('Nombre del producto: ' + nombreProducto + ', Tipo credito: ' + tipoPrestamo);
              nombreProductoDisplay.show();
              
            },
            error: function () {
              // Manejar el error si es necesario
            }
          });
        } else {
          // Oculta el campo si no hay un valor seleccionado
          nombreProductoDisplay.hide();
        }
      });
    });
    
    
  </script>


 <script>
  /*
    $(document).ready(function () {
      var nombreProductoField = $('#id_nombre_prestamo');
      var nombreProductoDisplay = $('#nombre_producto');

      // Oculta el campo de nombre_producto al cargar la página
      nombreProductoDisplay.hide();

      // Maneja el evento de cambio en el campo de nombre_prestamo
      nombreProductoField.change(function () {
        var selectedValue = $(this).val();
        if (selectedValue) {
          // Realiza una petición AJAX para obtener el nombre_producto
          $.ajax({
            url: 'dashboard/get_nombre_producto/' + selectedValue + '/',  // Reemplaza con la URL correcta
            type: 'GET',
            success: function (data) {
              var nombreProducto = data.nombre_producto;
              var tipoPrestamo = data.tipo_prestamo;

              console.log('soy data',data)
              nombreProductoDisplay.empty();
              var listaDatos = $('<ul>');
              listaDatos.append($('<li>').text('Nombre del producto: ' + nombreProducto));
              listaDatos.append($('<li>').text('Tipo crédito: ' + tipoPrestamo));
              nombreProductoDisplay.append(listaDatos);


              //nombreProductoDisplay.text('Nombre del producto: ' + nombreProducto + ', Tipo credito: ' + tipoPrestamo);
              nombreProductoDisplay.show();
              
            },
            error: function () {
              // Manejar el error si es necesario
            }
          });
        } else {
          // Oculta el campo si no hay un valor seleccionado
          nombreProductoDisplay.hide();
        }
      });
    });
    */
  </script>


<script>

  /*
  document.addEventListener("DOMContentLoaded", function() {
      var slider = document.getElementById("id_nombre_prestamo");
      var formulario = document.getElementById("simulador-form");
      var toatalOpcionSpan = document.getElementById("total_opciones");
      var opcionActualSpan = document.getElementById("opcion_actual");
      var montoSeleccionadoSpan = document.getElementById("monto_seleccionado");
      var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

      // Asumiendo que la lista de prestamos está definida en el template de Django
      var prestamos = [
          {% for prestamo in prestamos %}
              { 'id': `{{ prestamo.id }}`, 'monto': ` $ {{ prestamo.monto|floatformat:2 }} ` },
          {% endfor %}
      ];

      slider.setAttribute("min", 0);
      slider.setAttribute("max", prestamos.length - 1);
      slider.setAttribute("value", 0);

      toatalOpcionSpan.textContent = prestamos.length;
      opcionActualSpan.textContent = 'Ninguna';

      slider.oninput = function () {
          var index = parseInt(slider.value);
          var montoSeleccionado = prestamos[index].monto;
          montoSeleccionadoSpan.innerHTML = montoSeleccionado;          

          opcionActualSpan.textContent = index + 1;

          console.log('Monto:', montoSeleccionado, index);
      };

      // Nuevo oyente para el formulario
      formulario.addEventListener("submit", function(event) {
          event.preventDefault(); // Evitar que se envíe el formulario de manera estándar
          var index = parseInt(slider.value); // Obtener el índice actual del slider
          enviarDatosAlBackend(index);
      });

      // Función para enviar datos al backend
      function enviarDatosAlBackend(index) {
          $.ajax({
              type: "POST",
              url: "{% url 'dashboard_app:index' %}",
              data: {
                  'selected_index': index,
                  'csrfmiddlewaretoken': csrf_token
              },
              success: function (data) {
                  console.log("Datos enviados exitosamente al backend:", data);
                  // Puedes realizar acciones adicionales después de enviar los datos al backend
              },
              error: function (error) {
                  console.error("Error al enviar datos al backend", error);
              },
          });
      }
  });
  */
</script>


<script>
  /*
    document.addEventListener("DOMContentLoaded", function() {
        var slider = document.getElementById("id_nombre_prestamo");
        var prestamos = [
            {% for prestamo in prestamos %}
                { 'id': {{ prestamo.id }}, 'monto': ` $ {{ prestamo.monto|floatformat:2 }} `, 'nombre_producto': ` <p class="parrado-simu">Nombre prestamo:  {{ prestamo.nombre_producto }} </p> <hr>`,'tipo_prestamo': ` <p class="parrado-simu">Tipo de prestamo: {{ prestamo.tipo_prestamo }} </p> <hr>`,'tipo_periodo': `<p class="parrado-simu">Periodo: {{ prestamo.tipo_periodo }} </p> <hr>`,'plazo': `<p class="parrado-simu">Plazo: {{ prestamo.plazo }}</p> <hr>`,'interes_ordinario': ` <p class="parrado-simu">Interes ordinario: {{ prestamo.interes_ordinario }} </p> <hr>`,'interes_moratorio': `<p class="parrado-simu">Interes moratorio: {{ prestamo.interes_moratorio }} </p> <hr>`,'pago_mensual': `<p class="parrado-simu">Pago mensual:  $ {{ prestamo.pago_mensual }} </p>` },
            {% endfor %}
        ];
        console.log('prestamos de: ', prestamos);

        var toatalOpcionSpan=document.getElementById("total_opciones");
        var opcionActualSpan=document.getElementById("opcion_actual");
        
        var montoSeleccionadoSpan = document.getElementById("monto_seleccionado");
        var tipoPrestamoSpan = document.getElementById("prestamo_tipo");
        var nombrePrestamoSpan = document.getElementById("nombre_prestamo_seleccionado");
        var tipoPeriodSpan = document.getElementById("tipo_periodo");
        var plazoPrestamoSpan = document.getElementById("plazo");
        var interesOrdinarioSpan = document.getElementById("interes_ordinario");
        var interesMoratorioSpan = document.getElementById("interes_moratorio");
        var pagoMensualSpan = document.getElementById("pago_mensual");

        slider.setAttribute("min", 0);
        slider.setAttribute("max", prestamos.length - 1);
        slider.setAttribute("value", 0);

        toatalOpcionSpan.textContent = prestamos.length;
        opcionActualSpan.textContent = 'Ninguna';
        

        slider.oninput = function () {
            var index = parseInt(slider.value);
            var montoSeleccionado = prestamos[index].monto;
            var tipoPrestamo = prestamos[index].tipo_prestamo;
            var nombrePrestamo = prestamos[index].nombre_producto;
            var tipoPeriodo = prestamos[index].tipo_periodo;
            var plazoPrestamo = prestamos[index].plazo;
            var interesOrdinario = prestamos[index].interes_ordinario;
            var interesMoratorio = prestamos[index].interes_moratorio;
            var pagoMensual = prestamos[index].pago_mensual;

            montoSeleccionadoSpan.innerHTML = montoSeleccionado;
            tipoPrestamoSpan.innerHTML = tipoPrestamo;
            nombrePrestamoSpan.innerHTML = nombrePrestamo;
            tipoPeriodSpan.innerHTML = tipoPeriodo;
            plazoPrestamoSpan.innerHTML = plazoPrestamo;
            interesOrdinarioSpan.innerHTML = interesOrdinario;
            interesMoratorioSpan.innerHTML = interesMoratorio;
            pagoMensualSpan.innerHTML = pagoMensual;


            opcionActualSpan.textContent = index + 1;

            console.log('Monto:', montoSeleccionado, 'Nombre del préstamo:', nombrePrestamo,plazoPrestamo,tipoPeriodo);
        };
    });
    */
</script>

<script>
  /*
    document.addEventListener("DOMContentLoaded", function() {
        var slider = document.getElementById("id_nombre_prestamo");
        var formulario = document.getElementById("simulador-form");
        console.log('soy formulario',formulario)
        var prestamos = [
            {% for prestamo in prestamos %}
                { 'id': `{{ prestamo.id }}`, 'monto': ` $ {{ prestamo.monto|floatformat:2 }} ` },
            {% endfor %}
        ];
        console.log('prestamos de: ', prestamos);

        var toatalOpcionSpan=document.getElementById("total_opciones");
        var opcionActualSpan=document.getElementById("opcion_actual");
        
        var montoSeleccionadoSpan = document.getElementById("monto_seleccionado");

        

        slider.setAttribute("min", 0);
        slider.setAttribute("max", prestamos.length - 1);
        slider.setAttribute("value", 0);

        toatalOpcionSpan.textContent = prestamos.length;
        opcionActualSpan.textContent = 'Ninguna';

        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        

        slider.oninput = function () {
            var index = parseInt(slider.value);
            var montoSeleccionado = prestamos[index].monto;
            montoSeleccionadoSpan.innerHTML = montoSeleccionado;          

            opcionActualSpan.textContent = index + 1;

            console.log('Monto:', montoSeleccionado,index);

            formulario.addEventListener("submit", function(event) {
                event.preventDefault(); // Evitar que se envíe el formulario de manera estándar
                // Aquí va tu código actual de la solicitud Ajax
                $.ajax({
                    type: "POST",
                    url:  "{% url 'dashboard_app:index' %}",
                    data: {
                        'selected_index': index,
                        'csrfmiddlewaretoken': csrf_token
                        //'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log("Datos enviados exitosamente al backend:", data);
                        // Puedes realizar acciones adicionales después de enviar los datos al backend
                    },
                    error: function (error) {
                        console.error("Error al enviar datos al backend", error);
                    },
                });
            });

        };

    });

    */
</script>

<script>

  /*
    document.addEventListener("DOMContentLoaded", function() {
        var slider = document.getElementById("id_nombre_prestamo");
        var formulario = document.getElementById("simulador-form");
        var prestamos = [
            {% for prestamo in prestamos %}
                { 'id': {{ prestamo.id }}, 'monto': ` $ {{ prestamo.monto|floatformat:2 }} `, 'nombre_producto': ` <p class="parrado-simu">Nombre prestamo:  {{ prestamo.nombre_producto }} </p> <hr>`,'tipo_prestamo': ` <p class="parrado-simu">Tipo de prestamo: {{ prestamo.tipo_prestamo }} </p> <hr>`,'tipo_periodo': `<p class="parrado-simu">Periodo: {{ prestamo.tipo_periodo }} </p> <hr>`,'plazo': `<p class="parrado-simu">Plazo: {{ prestamo.plazo }}</p> <hr>`,'interes_ordinario': ` <p class="parrado-simu">Interes ordinario: {{ prestamo.interes_ordinario }} </p> <hr>`,'interes_moratorio': `<p class="parrado-simu">Interes moratorio: {{ prestamo.interes_moratorio }} </p> <hr>`,'pago_mensual': `<p class="parrado-simu">Pago mensual:  $ {{ prestamo.pago_mensual }} </p>` },
            {% endfor %}
        ];
        console.log('prestamos de: ', prestamos);

        var toatalOpcionSpan=document.getElementById("total_opciones");
        var opcionActualSpan=document.getElementById("opcion_actual");
        
        var montoSeleccionadoSpan = document.getElementById("monto_seleccionado");
        var tipoPrestamoSpan = document.getElementById("prestamo_tipo");
        var nombrePrestamoSpan = document.getElementById("nombre_prestamo_seleccionado");
        var tipoPeriodSpan = document.getElementById("tipo_periodo");
        var plazoPrestamoSpan = document.getElementById("plazo");
        var interesOrdinarioSpan = document.getElementById("interes_ordinario");
        var interesMoratorioSpan = document.getElementById("interes_moratorio");
        var pagoMensualSpan = document.getElementById("pago_mensual");

        slider.setAttribute("min", 0);
        slider.setAttribute("max", prestamos.length - 1);
        slider.setAttribute("value", 0);

        toatalOpcionSpan.textContent = prestamos.length;
        opcionActualSpan.textContent = 'Ninguna';

        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        

        slider.oninput = function () {
            var index = parseInt(slider.value);
            var montoSeleccionado = prestamos[index].monto;
            var tipoPrestamo = prestamos[index].tipo_prestamo;
            var nombrePrestamo = prestamos[index].nombre_producto;
            var tipoPeriodo = prestamos[index].tipo_periodo;
            var plazoPrestamo = prestamos[index].plazo;
            var interesOrdinario = prestamos[index].interes_ordinario;
            var interesMoratorio = prestamos[index].interes_moratorio;
            var pagoMensual = prestamos[index].pago_mensual;

            montoSeleccionadoSpan.innerHTML = montoSeleccionado;
            tipoPrestamoSpan.innerHTML = tipoPrestamo;
            nombrePrestamoSpan.innerHTML = nombrePrestamo;
            tipoPeriodSpan.innerHTML = tipoPeriodo;
            plazoPrestamoSpan.innerHTML = plazoPrestamo;
            interesOrdinarioSpan.innerHTML = interesOrdinario;
            interesMoratorioSpan.innerHTML = interesMoratorio;
            pagoMensualSpan.innerHTML = pagoMensual;


            opcionActualSpan.textContent = index + 1;

            console.log('Monto:', montoSeleccionado, 'Nombre del préstamo:', nombrePrestamo,plazoPrestamo,tipoPeriodo,index);


            formulario.addEventListener("submit", function(event) {
                event.preventDefault(); // Evitar que se envíe el formulario de manera estándar
                // Aquí va tu código actual de la solicitud Ajax
                $.ajax({
                    type: "POST",
                    url:  "{% url 'dashboard_app:index' %}",
                    data: {
                        'selected_index': index,
                        'csrfmiddlewaretoken': csrf_token
                        //'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log("Datos enviados exitosamente al backend:", data);
                        // Puedes realizar acciones adicionales después de enviar los datos al backend
                    },
                    error: function (error) {
                        console.error("Error al enviar datos al backend", error);
                    },
                });
            });

        };

    });

    */
</script>



<script>
  /*
  document.addEventListener("DOMContentLoaded", function () {
    // ... (tu código existente)

      // Agrega esta parte para manejar el envío del formulario con Ajax
      $("#simulador-form").submit(function (e) {
          e.preventDefault(); // Evita que el formulario se envíe de manera convencional

          var formData = $(this).serialize(); // Serializa los datos del formulario

          $.ajax({
              type: "POST",
              url: "",
              data: formData,
              success: function (data) {
                  // Maneja la respuesta del backend si es necesario
                  console.log("Formulario enviado exitosamente");
              },
              error: function (error) {
                  console.error("Error al enviar el formulario", error);
              },
          });
      });
  });

  */
</script>



<script>
  function registroModalUser(url) {
    $("#completarRegistroUsuario").load(url, function () {
      $(this).modal("show");
    });
  }

  $(document).ready(function () {
    $("#id_tipo_credito").change(function () {
      var selectedOption = $(this).val();
      var amountSlider = $("#id_amount");

      amountSlider.val(0);

      // Actualizar el rango del slider según el tipo de crédito seleccionado
      if (selectedOption === "1") {
        // Ejemplo de tipo de crédito 1
        amountSlider.val(5000);
        amountSlider.attr({
          min: 5000,
          max: 20000,
          step: 5000,
        });
        amountSlider.removeClass("d-none");
      } else if (selectedOption === "2") {
        // Ejemplo de tipo de crédito 2
        amountSlider.val(20000);
        amountSlider.attr({
          min: 30000,
          max: 50000,
          step: 5000,
        });
        amountSlider.removeClass("d-none");
      } else if (selectedOption === "3") {
        // Ejemplo de tipo de crédito 2
        amountSlider.val(35000);
        amountSlider.attr({
          min: 55000,
          max: 100000,
          step: 5000,
        });
        amountSlider.removeClass("d-none");
      } else if (selectedOption === "4") {
        // Ejemplo de tipo de crédito 2
        amountSlider.val(50000);
        amountSlider.attr({
          min: 1000000,
          max: 500000,
          step: 50000,
        });
      }
    });

    $("#id_plazo_nombre").change(function () {
      let selectedTerm = $(this).val();
      let termSlider = $("#id_term");

      termSlider.val(0);

      if (selectedTerm === "1") {
        termSlider.attr({
          min: 14,
          max: 22,
          step: 4,
        });
        termSlider.removeClass("d-none");
      }
    });
  });

  //document.addEventListener("DOMContentLoaded", function () {
  //  let campo_tipo_credito = document.getElementById("id_tipo_credito");
  //  let campo_id_amount = document.getElementById("id_amount");

  //  campo_tipo_credito.addEventListener("change", function () {
  //    let selectedOption = campo_tipo_credito.value;
  //    console.log("soy tipo credito ", selectedOption);
  //    campo_id_amount.innerHTML = "";

  //    if (selectedOption === "1") {
  //      campo_id_amount.options.add(new Option(5000));
  //      campo_id_amount.options.add(new Option(10000));
  //      campo_id_amount.options.add(new Option(15000));
  //      campo_id_amount.options.add(new Option(20000));
  //    } else if (selectedOption === "2") {
  //      campo_id_amount.options.add(new Option(25000));
  //      campo_id_amount.options.add(new Option(30000));
  //      campo_id_amount.options.add(new Option(35000));
  //      campo_id_amount.options.add(new Option(40000));
  //    }else if (selectedOption === "3") {
  //      campo_id_amount.options.add(new Option(45000));
  //      campo_id_amount.options.add(new Option(50000));
  //      campo_id_amount.options.add(new Option(55000));
  //      campo_id_amount.options.add(new Option(60000));
  //    }
  //  });
  //});

  //  document.addEventListener("DOMContentLoaded", function () {
  //    let campo_plazo = document.getElementById("id_plazo_nombre");
  //    let campo_interes_credito = document.getElementById("id_term");

  //    campo_plazo.addEventListener("change", function () {
  //      let selectedOption = campo_plazo.value;
  //      console.log("soy tipo credito ", selectedOption);
  //      campo_interes_credito.innerHTML = "";

  //      if (selectedOption === "1") {
  //        campo_interes_credito.options.add(new Option(14));
  //        campo_interes_credito.options.add(new Option(18));
  //        campo_interes_credito.options.add(new Option(22));
  //      } else if (selectedOption === "2") {
  //        campo_interes_credito.options.add(new Option(3));
  //        campo_interes_credito.options.add(new Option(4));
  //        campo_interes_credito.options.add(new Option(5));
  //      }
  //    });
  //  });

  $(document).ready(function () {
    $("#id_plazo_nombre").change(function () {
      var selectedProduct = $(this).val();
      if (selectedProduct) {
        // Realiza una solicitud AJAX al servidor para obtener el interés del producto seleccionado
        $.ajax({
          url: "{% url 'dashboard_app:obtener_interes' %}", // Reemplaza con la URL correcta
          data: {
            product_id: selectedProduct,
          },
          success: function (data) {
            // Rellena el campo interest_rate con el valor recibido
            $("#id_interest_rate").val(data.interest);
          },
        });
        
        $.ajax({
          url: "{% url 'dashboard_app:obtener_mora' %}", // Reemplaza con la URL correcta
          data: {
            producto_id: selectedProduct,
          },
          success: function (data) {
            
            // Rellena el campo interest_rate con el valor recibido
            $("#id_interest_moratorio").val(parseFloat( data.interes_mora));
          },
        });


      } else {
        // Borra el campo interest_rate si no hay selección
        $("#id_interest_rate").val("");
        $("#id_interest_moratorio").val("");
      }
    });

    $("#mostrar_boton").hide();
    $("#simulator").on("submit", function (event) {
      event.preventDefault(); // Evita el envío normal del formulario

      // Obtén los valores de los campos
      var amountValue = $("#id_amount").val();
      var interestRateValue = $("#id_interest_rate").val();
      var termValue = $("#id_term").val();

      // Verifica si los campos necesarios están llenos
      if (amountValue === "" || interestRateValue === "" || termValue === "") {
        // Muestra un mensaje de error
        alert("Debes llenar todos los campos antes de calcular.");

        // Detén la ejecución
        return;
      }

      $.ajax({
        type: "POST",
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function (data) {
          let monthly_payment_digit = parseFloat(data.monthly_payment).toFixed(
            2
          );
          //let formatNumeric = parseFloat(data.monthly_payment).toLocaleString();
          // Actualiza el contenido del div con el resultado
          $("#monthly-payment").text(
            "Tu pago es: " + " " + "$" + " " + monthly_payment_digit
          );
          $("#mostrar_boton").show();
          console.log("boton mostrado");
        },
      });
    });
  });
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2"></script> -->

{% endblock extra_js %}
